.event-title {
  font-weight: bold;
  font-size: 1.5em;
}

.event-description {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.event-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}